.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
}
form{
    margin-top: 28px;
}

.loginInput, .passwordInput{
    margin-top: 14px;
    width: calc(100% - 15px);
    height: 26px;
    padding: 13px 0;
    padding-left: 15px;
    border-radius: 12px;
    background: var(--grey-extra-light, #F8F8F8);
    border: none;
}
.login-img{
    display: block;
    margin: 0 auto;
}
.login-bg{
    display: none;
}
.input-wrapper{
    position: relative;
    width: 100%;
}
.passwordIcon{
    position: absolute;
    right: -3px;
    top: 23px;
    padding: 10px 13px;
    cursor: pointer;
}
.loginBtn{
    width: 100%;
    padding: 13px 16px;
    border-radius: 12px;
    background: var(--button-color-light, #292929);
    color: #fff;
    margin-top: 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.red{
    color: red;
}
.green{
    color: #1BA228;
}

@media (min-width: 1024px) {
    .login-img{
        display: none;
    }
    .login-bg{
        display: block;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}

