.title{
    color: var(--grey-extra-dark, #212121);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
}
.welcomeImg{
    margin-top: 66px;
}
.btnExit{
    margin-top: 50px;
}
.confirm-btn{
    max-width: 270px;
}
